<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  </head>
  <!------ Include the above in your HEAD tag ---------->
  <body>
    <!-- Title -->
    <form action="/logout" method="GET" class="logOutDiv">
      <button class="logOutButton" type="submit">Log out</button>
    </form>
    <div>
      <h1 class="formTitle">MEMES</h1>
      <br />
    </div>
    <div class="dropdownSection">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle dropdownBtn"
          type="button"
          data-toggle="dropdown"
        >
          Select a category
        </button>
        <ul class="dropdown-menu">
            <li>
                <a id="random" onclick="getnewimage(this.id)">Random</a>
              </li>
          <li>
            <a id="HistoryMemes" onclick="getnewimage(this.id)">History</a>
          </li>
          <li>
            <a id="BikiniBottomTwitter" onclick="getnewimage(this.id)"
              >SpongeBob</a
            >
          </li>
          <li>
            <a id="funny" onclick="getnewimage(this.id)">Funny Images</a>
          </li>
          <li>
            <a id="carmemes" onclick="getnewimage(this.id)">Cars</a>
          </li>
          <li>
            <a id="wholesomememes" onclick="getnewimage(this.id)">Wholesome</a>
          </li>
          <li>
            <a id="HarryPotterMemes" onclick="getnewimage(this.id)"
              >Harry Potter</a
            >
          </li>
          <li>
            <a id="SequelMemes" onclick="getnewimage(this.id)">Star Wars</a>
          </li>
          <li>
            <a id="ProgrammerHumor" onclick="getnewimage(this.id)"
              >Programming/Coding</a
            >
          </li>
          <li>
            <a id="gamingmemes" onclick="getnewimage(this.id)">Gaming</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="memeDiv" class="divMeme">
      <h4 class="titleMeme" id="memeTitle">
        Select a category and enjoy our memes!
      </h4>
      <div class="newMemeBtnDiv">
        <button
          class="newMemeBtn"
          id="newBtn"
          value="Random"
          onclick="getnewimage(this.value)"
        >
          NEXT
        </button>
      </div>
      <img id="memeImg" class="imgMeme" />
    </div>
    <div class="addMemeBtnDiv">
        <button
          class="addMemeBtn"
          id="addBtn"
          value="Random"
          onclick="addImage()"
        >
          ADD
        </button>
    </div>
    <script type="text/javascript" src="../JS/getImage.js"></script>
    <script>
      var memeTitle = document.getElementById("memeTitle");
      var memeImage = document.getElementById("memeImg");
      var url = "";
      var newMemeBtn = document.getElementById("newBtn");
      var currentUrl;

      function getnewimage(id) {
        console.log("first id is " + id);
        if (id == "Random") {
          url = "https://meme-api.herokuapp.com/gimme";
        } else {
          url = "https://meme-api.herokuapp.com/gimme/" + id;
        }
        fetch(url)
          .then((res) => res.json())
          .then((out) => {
            console.log("JSON ", out);
            console.log(out.title);
            memeImage.src = out.url;
            currentUrl = out.url;
            memeTitle.textContent = out.title;
            newMemeBtn.value = id;
            console.log(memeTitle);
            //console.log(image);
            console.log(out.title);
            console.log("link is " + currentUrl);



            
            // memeDiv.appendChild(memeImage);
            // document.documentElement.appendChild(memeDiv);
          })
          .catch((err) => {
            throw err;
          });
          console.log("link again is " + currentUrl);
      }

      function addImage(){

        $.ajax({ url: "/home/newImg", dataType: "json", type: "POST", data: { 
                'url_link': memeImg.src,
                'title': memeTitle.textContent
        },
            success: function(){
                console.log(memeImg.src);
                console.log(memeTitle.textContent);
            }
        });

      }
    </script>
  </body>
</html>
